.section-two {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
.section-two > div:first-of-type {
  width: 60%;
}
.section-two > div:first-of-type h3 {
  font-family: Clash Display;
  font-size: 64px;
  font-weight: 700;
  line-height: 61.12px;
  text-align: left;
}
.section-two > div:first-of-type p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.9px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 30px;
}
.section-two > div:first-of-type img {
  height: 469px;
  border-radius: 24px;
  width: 100%;
  position: relative;
  z-index: 3;
}
.section-two:first-of-type > div {
  position: relative;
}
/* .section-two:first-of-type>div div{
    position: absolute; 
    top: 3%;
} */
.section-two .image-div {
  position: relative;
}
.section-two .underlay {
  position: absolute;
  top: -5%;
  left: -10%;
  width: 60%;
  height: 400px;
  z-index: 1;
  padding: 41px 0px 0px 134px;
  gap: 0px;
  border-radius: 0px 20px 20px 0px;
  background-color: white;
}
.section-two > div:last-of-type {
  width: 327px;
  width: 30%;
  border-radius: 26px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.section-two > div:last-of-type div h2 {
  font-family: Prompt;
  font-size: 96px;
  font-weight: 800;
  letter-spacing: -0.025em;
  text-align: left;
  text-align: center;
  z-index: 1;
}
.section-two > div:last-of-type div p {
  width: 137px;
  height: 55px;
  background-color: #f1ddc4;
  border-radius: 128px;
  font-family: Prompt;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -30px;
}
